@font-face {
  font-family: "Kaushan Script";
  src: url("./assets/fonts/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sirin Stencil";
  src: url("./assets/fonts/SirinStencil-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
